* {
  margin: 0%;
  padding: 5px;
  box-sizing: border-box; }
body{
    background-image: url(/assets.img/fondos-escritorio-fondo-limon-vector-lindo_53876-136875.webp);
    size-adjust:unset;
    color: #1F371F
}
.contenedor-formulario{
  display: flex;
  justify-content: center;
  background: #e2dedb;
  color: #b3aca7;
    width: 500px;
    margin: 50px auto 100px auto;
}
.card{
  background-color: #FFCE67;
}
