* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(/assets.img/fondos-escritorio-fondo-limon-vector-lindo_53876-136875.webp);
  size-adjust:unset;
  font-family: 'Roboto', sans-serif;
  color:  #d8125e;
}

img {
  width: 100%;
  margin-bottom: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
h1 {
  text-transform: uppercase;
  font-size: 50px;
  text-align: left; 
  font-family: Comic Sans MS; 
  font-weight:bold; 
  color: #FFCE67; 
  text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;

}
#boton-carrito {
  border: none;
  color: #d8125e;
  font-size: 40px;
  background-color: transparent;
  padding: 10px 20px;
  transition: all .3s;
}
#boton-carrito:hover {
  cursor: pointer;
  color: #e4717a;

}
#boton-carrito:focus {
  outline: none;
}

#contenedor-productos {
  max-width: 1500px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  line-height: 1.8;
}
.producto {
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.precioProducto {
  font-weight: 700;
}
.boton-agregar {
  background-color: #1F371F ;
  color: #FFCE67;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none;
}
.boton-agregar:hover {
  cursor: pointer;
}
.boton-agregar:focus {
  outline: none;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-image: url(/assets.img/fondo-escritorio-frutas-vector-lindo_53876-140209.webp);
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: #FFCE67;
  padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #FFCE67;
  border: none;
  background-color: transparent;
}
.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
  outline: none;
}
.modal-carrito .precioProducto {
  padding-top: 50px;
  
}

.productoEnCarrito {
  border-left: 5px solid #e4717a;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.productoEnCarrito:hover {
  border-left: 5px solid #FFCE67;
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 15px;
  Background-color: transparent;
}

.boton-eliminar:hover {
  cursor:pointer;
}
.boton-eliminar:focus {
  outline: none;
}


nav {
display: flex;
position: relative;
border-radius: 8px;
font-size: 0;
}
nav a {
line-height: 50px;
height: 100%;
font-size: 20px;
  font-style: inherit;
display: inline-block;
position: relative;
z-index: 1;
text-decoration: none;
text-align: center;
color: #e4717a;
cursor: pointer;
}
nav .animation {
position: absolute;
height: 100%;
top: 0;
z-index: 0;
transition: all .5s ease 0s;
border-radius: 8px;
}
a:nth-child(1) {
width: 100px;
}
a:nth-child(2) {
width: 110px;
}

nav .start-home, a:nth-child(1):hover~.animation {
width: 100px;
left: 0;
background-color:  #1F371F;
}
nav .start-about, a:nth-child(2):hover~.animation {
width: 110px;
left: 100px;
background-color: #FFCE67;
}



.flex{
  display: flex;
  justify-content: space-around;

}

*,
*:before,
*:after{
  box-sizing: inherit;
}
.dietas{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dietas>*{
  flex: 1 1 200px;
  margin: 1rem;
}

.dieta{
  background-color: #1F371F;
  color: #32CD32;
  font-size: 200%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.dieta:hover {
  opacity: .9;
  transform: scale(.9);
}

.dieta img {
  max-width: 100%;
  height: auto;
}

.dieta figcaption {
  padding: 1rem;
}


.descripcion{
  margin: 1.5rem;
}
 
.descripcion1{
  text-decoration:underline;
}
h4{
 text-align: center;
}

.navbar{
  display: flex;
  flex-direction: row-reverse;
}
.boton{
display: flex;
justify-content: space-around;
}




